body{
  background: rgb(65, 65, 65);
  font-family: 'Arial'
}

.block{
  width: 80%;
  max-width: 600px;
  background: linear-gradient(to right, rgb(145, 139, 233), rgb(47, 241, 183));
  color: #fff;
  margin: 0 auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 50px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  color:#ffffff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  flex: 1;
  margin-right: 5px;
  font-size: 18px;
}

.search button{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 50%;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.search button img{
  width: 20px;
}

.weather-icon{
  width: 120px;
  margin-top: -60px;
}

.weather h1{
  font-size: 70px;
  font-weight: 600;
  margin-top: 10px;
}

.weather h2{
  font-size: 90px;
  font-weight: 500;
  margin-top: 50px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.humidity, .wind{
  font-size: 20px;
  margin-bottom: -10px;
  padding-right: 10px;
}

