body{
  background: rgb(65, 65, 65);
  font-family: 'Arial'
}

.block{
  width: 80%;
  max-width: 600px;
  background: linear-gradient(to right, rgb(145, 139, 233), rgb(47, 241, 183));
  color: #fff;
  margin: 0 auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 50px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  color:#ffffff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  flex: 1;
  margin-right: 5px;
  font-size: 18px;
}

.weather-icon{
  width: 20vmin;
  margin-top: -30px;
}

.weather h1{
  font-size: 10vmin;
  font-weight: 600;
  margin-top: 10px;
}

.weather h2{
  font-size: 10vmin;
  font-weight: 500;
  margin-top: 9vh;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 8vmin;
  margin-right: 10px;
  margin-top: 10px;
}

.humidity, .wind{
  font-size: 5vmin;
  margin-bottom: -10px;
  padding-right: 10px;
}

.historyTable{
  margin:0 auto;
  margin-top: 20px;
}

.historyTable .date{
  column-width: 120px;
}

.historyTable .loTemp{
  column-width: 120px;
}

.historyTable .hiTemp{
  column-width: 120px;
}

.historyTable .rain{
  column-width: 120px;
}

.head {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-left: 2vw;
  font-size: 2vmin;
  padding-bottom: 20px;
}

.head .log{
  display: flex;
  margin-top: 5px; 
}

.head .buttons{
  margin-right: 4vw;
}

.head .text{
  margin-left: -2vw;
}

.head .inputs{
  margin-left: 5vw;
}

.head input{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  color:#ffffff;
  padding-left: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  height: 6px;
  width: 25vmin;
  flex: 1;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.head button {
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3);
  color:white;
  margin-bottom: 2vmin;
  margin-right: 10vmin;
}

.bot{
  padding-top: 20px;
  font-size: 2vmin;
  color:rgba(255, 255, 255, 0.7)
}

.payment{
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 16px;
  padding-bottom: 3vmin;
}

.payment .number input{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  color:#ffffff;
  height: 25px;
  width: 80vw;
  max-width: 400px;
  align-items: center;
  font-size: 16px;
}

.payment .number {
  padding-bottom: 10px;
}

.payment input{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3) ;
  color:#ffffff;
  height: 25px;
  width: 15vmin;
  max-width: 150px;
  font-size: 16px;
}

.payment button {
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3);
  color:white;
  margin-bottom: 10px;
}

.logout button{
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 15px;
  outline: 0;
  background: rgba(150, 150, 150, 0.3);
  color:white;
  padding: 4px;
  margin-bottom: 20px;
}